* {
    font-family: sans-serif;
}

body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2%;

    background-image: url("../images/donut2.jpeg");  /*[color] [image] [repeat] [attachment] [position]*/
    background-repeat: repeat;
}

#wrapper {
    width: 960px;
    height: 100%;
    margin: auto;
    padding: 1%;
    background-color: rgb(225, 217, 208);
    border: 4px solid burlywood;		/* width style color*/
    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1%;
}


table, th, td {
    border: 1px solid black;
    background-color: lightgray;
    background-image: none;
  } 

table {
    width: 110%;
}

header {
    min-width: 400px;
    background-image: linear-gradient(45deg, pink, lightpink, lightpink, rgb(168, 132, 132), black);
    
    border-top: 4px solid ;
    border-right: 4px solid ;
    border-bottom: 4px solid palevioletred;
    border-left: 4px solid palevioletred;

    margin: 10px 20px 12px 20px;
}

footer {
    
    bottom: 0;
    right: 0;
    left: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Brush Script MT';
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}


li {
    margin-top: 4px;
}

hr {
    width: 800px;
}

#italics {
    font-style: italic;
}

#tiny {
    font-size: 10px;
}


